<div class="row" class="flex-container">
    <div class="col-md-4" *ngFor="let video of videos">
        <mat-card>
            <a data-fancybox href="https://www.youtube.com/embed/{{video.id.videoId}}">
                <mat-card-header class="title">
                    <span>
                    <mat-card-title><b>{{video.snippet.title}}</b></mat-card-title>
                    </span>
                </mat-card-header>

                <img [src]='video.snippet.thumbnails.medium.url'>
            </a>
        </mat-card>
    </div>